{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": "airbnb-typescript-base",
    "rules": {
        "max-len": [
            2,
            180
        ],
        "import/extensions": [
            "error",
            {
                "js": "always"
            }
        ]
    }
}