{
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "max-len": [
            2,
            180
        ],
        "import/extensions": [
            "error",
            {
                "js": "always"
            }
        ]
    },
    "extends": "airbnb-base"
}